body {
    font-family: Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 2%;
    width: 40%;
    margin-left: 30%;
    /* display: contents; */
   
}

table tr, table td, table th {
    padding: 8px;
    border: 1px solid
}
/* tr.height {
    height: 30px;
} */