body {
    background: #f9f7cf;
    padding: 1px;
    margin-left: 27px;
}

header {
    background: #f2dcbb;
    width: 589px;
    padding-bottom: 1px;
}

h1 {
    font-size: 40px;
    padding-top: 31px;
    margin: 19px;
}

h3 {
    font-size: 30px;
    padding-left: 19px;
}

main {
    width: 589px;
    font-size: 20px
}
footer {
    background: #f2dcbb;
    width: 589px;
    position: fixed;
    font-size: 20px;
}
footer p {
    margin: 19px;
    padding-top: 7px;
    padding-left: 1px;
    padding-bottom: 7px;
}

footer :nth-child(2) {
    margin-top: -13px;
}